# https://core.telegram.org/bots/tutorial#obtain-your-bot-token
BOT_TOKEN = "6452735403:AAHDfGpeDvpiYncZjNkYLs-EqrwIIQBsujc"
# Owners telegram profile ids
BOT_OWNER_IDS = 1111111111 2222222222
# Restricted fours in messages
RESTRICTED_FOUR = чотир four vier quatr четыр 4 xjnbhb

HITS_TO_MUTE = 4
# Mute time in seconds
MUTE_TIME = 44
# Pool time in seconds
POOL_TIME = 60

SHOOT_IMAGE = AgACAgIAAxkBAAMxZO-OyvxB7f1LkexOugPj4UAxJ6kAAuHLMRtYwoBLOkEdf-uUbk0BAAMCAAN4AAMwBA

WELCOME_IMAGE = AgACAgIAAx0CdClyxAACAVlk8lStLKrEQXOsdXvgiVJWFb1bQgACndQxG0UXkEt4Jr_7YI1JRQEAAwIAA3gAAzAE

START_IMAGE = AgACAgIAAx0CdClyxAACAY1k8lvxccRqoAqqlK44nd6FbsxoSgACrtQxG0UXkEuNKKmV6aF67QEAAwIAA3gAAzAE
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://username:password@ip:5432/mydb?schema=public"